/* 
    Document   : regNewSchool
    Created on : Nov 17, 2013, 5:39:06 PM
    Author     : ray
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

h1, .h1 {
    font-size: 23px;
}

.note {
    font-weight: bold;
    font-size: 15px;
}

.header .navbar-brand img {
width: 120px;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
float: none;
margin-right: 0;
}